* {
    font-family: "SF Pro", system-ui;
}
div.tiny-window {
    width: 400px;
    height: 200px;
}

div.alertIcon {
    font-size: 40pt;
    color: #4698db;
}

div.alertTextContainer {
    height: 50pt;
}

div.alertText {
    font-size: 18pt;
    color: #4698db;
    font-weight: bold;
    margin-top:16pt;
}

div.dialogText {
    font-size: 12pt;
}

div.buttonContainer {
    text-align: center;
    padding-top: 10px;
}